<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="directoryPath" value ="Path to place the information later"/>
    <add key="fileIntake" value ="Path to get the file to read in"/>
  </appSettings>
</configuration>